@model Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    @{
        List<ImageGallery> list = ViewBag.Gallery;

        if (list.Count > 0)
        {
            for (int i = 0; i < list.Count(); i += 3)
            {
                int j = i;

                <tr>
                    @while (j < i + 3 && j < list.Count())
                    {
                        <td>
                            <a href="data:image/png;base64, @Convert.ToBase64String(list[j].ImageData, 0, list[j].ImageData.Length)" class="thumbnail" style="height: 220px;">
                                <img src="data:image/png;base64, @Convert.ToBase64String(list[j].ImageData, 0, list[j].ImageData.Length)" style="width:250px;height:200px;" />
                            </a>
                        </td>

                        j++;
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <img src="~/Images/no-image.png" class="thumbnail" style="height:100px; width:130px" />
                </td>
            </tr>
        }
    }
</table>

<div class="container">
    <h3>@Html.DisplayFor(m => m.ProductTitle)</h3>
    <div class="well well-sm">
        <p>@Html.DisplayFor(m => m.ProductContent)</p>
        <p>Price: @Html.DisplayFor(m => m.ProductPrice)</p>
        <p>Category: 
            @{
                var categories = ViewBag.Categories;

                foreach (var item in categories)
                {
                    if (item.CategoryId == Model.CategoryId)
                    {
                        @item.CategoryName
                    }
                }
            }
        </p>
    </div>
</div>

@{
    var users = ViewBag.Users;

    if (users.Count > 0)
    {
        <div class="container">
            <h3>Comments</h3>
            <div class="well well-sm">
                @{
                    int index = 0;

                    foreach (var item in ViewBag.Comments)
                    {
                        <span style="font-weight: bold;">@users[index]</span> @item.Comment1 <br />

                        index++;
                    }
                }
            </div>

        </div>
    }
    
    @Html.Partial("_CommentCreate", new Comment())
}

<br />

@if (Request.IsAuthenticated)
{
    <a href="#" class="btn btn-default">Buy</a>
}

@Html.ActionLink("Back to list", "Index", "Products", new { @class = "btn btn-default" })
