@model ImageGallery
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>Select File: </td>
            <td>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
                @Html.ValidationMessage("CustomError")
            </td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@