@model MvcCatalogue.Models.PasswordValuesModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.Label("Old password: ")
        @Html.EditorFor(s => s.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(s => s.OldPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("New password: ")
        @Html.EditorFor(s => s.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(s => s.Password, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        @Html.Label("Repeat new password: ")
        @Html.EditorFor(s => s.RepeatPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(s => s.RepeatPassword, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Save" class="btn btn-default" />
}
